.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;            /* smaller space between items */
  margin: 40px 20px;    /* less margin */
}

.services-title h1 {
  padding: 0 15px;
  font-size: 34px;      
  font-weight: 600;
}

.services-title {
  position: relative;
  display: inline-block; 
}

.services-title img {
  position: absolute;
  bottom: -8px;          
  left: 50%;             
  transform: translateX(-50%);
  width: 160px;          
  height: auto;
  z-index: -1;           
  opacity: 0.85;         
}


.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 25px;        
  border-radius: 10px;
  border: 1px solid white;
  transition: 0.3s;
  cursor: pointer;
}

.services-container {
  display: grid;
  grid-template-columns:1fr 1fr 1fr; 
  gap: 25px;
  margin-bottom: 40px;
}

.services-format h3 {
  font-size: 20px;
  font-weight: 600;
}

.services-format h2 {
  font-size: 26px;
  font-weight: 700;
  background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-format p {
  color: #d4d4d4;
  font-size: 16px;
  line-height: 26px;
  max-width: 260px;
}

.read-more{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover {
  border-color: #ff00ff;
  background-image: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
}