.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;              
  margin: 40px 20px;      
  max-width: 1200px;      
  margin-inline: auto;    
}

.about-title {
  position: relative;
  text-align: center;
}

.about-title h1 {
  padding: 0 10px;
  font-size: 34px;        
  font-weight: 600;
  line-height: 1.2;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;            
  z-index: -1;
  opacity: 0.7;
}

.about-sections {
  display: flex;
  gap: 40px;              
  align-items: center;
}

.about-left img {
  width: 400px;           
  border-radius: 20px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 50px;              
  flex: 1;
  min-width: 280px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p{
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
}

.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.about-achievments{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;

}

.about-achievment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievment h1{
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievment p{
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievment:hover{
    transform: scale(1.12);
    transition: 0.5s;
}