.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title{
    position: relative;
}

.contact-title h1{
    padding: opx 30px;
    font-size: 50px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section{
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 15px;
    line-height: 20px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 14px;
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 14px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-right label{
    color: #D8D8D8;
    font-size: 17px;
    font-weight: 500;
}

.contact-right input{
    border: none;
    width: 400px;
    height: 48px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: outfit;
    font-size: 15px;
}

.contact-right textarea{
    width: 350px;
    border: none;
    padding: 17px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: outfit;
    font-size: 15px;
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 40px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 17px;
    padding: 15px 35px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}