.footer{
    margin: 30px 90px;
    display: flex;flex-direction: column;
    gap: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top-left p{
    font-size: 14px;
    max-width: 200px;
}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-email-input{
    display: flex;
    gap: 20px;
    padding: 14px 23px;
    border-radius: 40px;
    background: #32323B;
    padding-right: 60px;
}

.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 14px;
}

.footer-subscribe{
    font-size: 16px;
    padding: 18px 40px;
    border-radius: 40px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.footer-bottom-right{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.footer-email-input:hover{
    border: 2px solid white;
}

.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media (max-width:768px) {
    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}

